{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Accessibility in Defence
        </h1>
        <p>We need to build digital products and services that are easy for all users. This includes people who use technology to help them do things online, for example screen readers and magnifiers.<p>

<h2 class="govuk-heading-l">Understand the environments<h2>

  <p>People working in Defence have unique needs.<p>

    <p>Consider people in the deployed space, for example military units working away from their permanent base. There are also many people in the operational space, supporting military operations and exercises.<p>

    <p>These users may have issues such as:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>low to no 3G and 4G onboard ships</li>
      <li>not being able to use 2-factor authentication</li>
      <li>wearing restrictive kit, such as thick gloves</li>
      <li>devices with limited battery power</li>
    </ul>

    <p>You also need to consider accessibility issues related to the battle environment, including:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>low light, red light or no light </li>
      <li>very noisy environments or the need for silence</li>
      <li>difficult outdoor conditions, such as wet screens</li>
      <li>high-stress and high-risk scenarios</li>
      <li>temperatures below freezing or extreme heat and sunlight</li>
      <li>extreme fatigue</li>
    </ul>

    <p>Accessibility needs can be permanent, temporary or situational. This is particularly relevant in military settings.</p>

<h2 class="govuk-heading-l">Meet the regulations<h2>

  <p>
To meet UK government accessibility regulations, digital products and services must:
</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>meet level AA of the <a
      href="https://www.w3.org/TR/WCAG21/"
      >Web Content Accessibility Guidelines (WCAG 2.1)</a> as a minimum</li>
  <li>work on the most commonly used assistive technologies, including screen magnifiers, screen readers and speech recognition tools</li>
  <li>include people with disabilities in user research</li>
  <li>have an accessibility statement that explains how accessible the service is </li>
  </ul>

  <div class="govuk-inset-text">Anyone creating digital products or services for Defence, including third-party suppliers, must make sure they meet accessibility regulations.
</div>

<p>Check the guidance on <a
  href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps"
  >understanding accessibility requirements for public sector bodies</a>.</p>

  <h2 class="govuk-heading-l">Your role in accessibility<h2>

    <p>Every role in digital design and delivery plays a part in accessibility. </p>

    <p>For example, for developers to build an accessible service the content needs to be designed to work with assistive technology.</p>

    <p>Check how you can help with accessibility:</p>

    <ul class="govuk-list govuk-list">
    <li><a href="">Content Designers</a></li>
    <li><a href="">Delivery Managers</a></li>
  <li><a href="">Interaction Designers</a></li>
    <li><a href="">Product Managers</a></li>
  <li><a href="">User Researchers</a></li>
  </ul>

    <h2 class="govuk-heading-l">Create an accessibility statement<h2>

    <p>Since 2018, all public sector websites and applications must include an accessibility statement. It needs to be published before your product or service goes into public beta.</p>

    <p>The statement needs to cover:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>whether your website or mobile app is ‘fully’, ‘partially’ or ‘not’ compliant with accessibility standards</li>
<li>if it’s not fully compliant, which parts do not meet accessibility standards and why. For example, because they are exempt or it would be a disproportionate burden to fix </li>
<li>how people can get alternatives to content that’s not accessible to them</li>
<li>how to contact you to report accessibility problems - and a link to the website that they can use if they’re not happy with your response</li>
</ul>

<p>You can use this <a
  href="https://www.gov.uk/guidance/model-accessibility-statement"
  >model accessibility statement</a>.</p>

  <p>If you can, work with a content designer to make sure your statement is written in plain English.</p>

  <h3 class="govuk-heading-m">
    Things you might not need to fix
    </h3>
      <p>
        Your team does not need to fix the following types of content
        because they’re exempt from the accessibility regulations:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          pre-recorded audio and video published before 23 September 2020
        </li>
        <li>live audio and video</li>
        <li>heritage collections like scanned manuscripts</li>
        <li>
          PDFs or other documents published before 23 September 2018 -
          unless users need them to use a service, for example a form that
          lets you request school meal preferences
        </li>
        <li>
          maps but you’ll need to provide essential information, like an
          address, in an accessible format
        </li>
        <li>
          third party content that’s under someone else’s control if you did
          not pay for it or develop it yourself, for example social media
          ‘like’ buttons
        </li>
        <li>
          content on intranets or extranets published before 23 September
          2019 - unless you make a major revision after that date
        </li>
        <li>
          archived websites if they are not needed for services your
          organisation provides and they are not updated
        </li>
      </ul>

      <p>
        In your accessibility statement, you need to explain that things
        like this are not accessible because they are exempt.
      </p>

      <h2 class="govuk-heading-l">
        Publish accessible documents
        <h2>
          <p>
            Any documents you include in your service, such as PDFs, must be
            accessible.
          </p>

          <p>
            Check the guidance on <a href="https://www.gov.uk/guidance/publishing-accessible-documents"
                >publishing accessible documents</a>.
          </p>

          <p>
            If you need help making your document accessible, contact the
            Directorate of Defence Communications.
          </p>

            <h2 class="govuk-heading-l">Useful links<h2>

          <ul class="govuk-list govuk-list">
              <li><a href="https://www.gov.uk/guidance/make-things-accessible">Making things accessible and inclusive</a></li>
              <li><a href="https://gds.blog.gov.uk/2016/05/19/doing-the-hard-work-to-make-accessibility-simple/">Doing the hard work to make accessibility simple</a></li>
            <li><a href="https://www.gov.uk/government/publications/assistive-technology-definition-and-safe-use/assistive-technology-definition-and-safe-use">Common assistive technologies</a></li>
<li><a href="https://accessibility.blog.gov.uk/">GOV.UK blogs on accessibility</a></li>
          <br>
          <br>

          <p>
            If you have ideas to improve this topic, contact the team at
            <a href="/url/of/onward/page">service-manual@digital.mod.uk</a>.
          </p>
          {% endblock %}
        </div>
