{% extends "layout.html" %} {% block pageTitle %} Accessibility in defence {%
  endblock %} {% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {%
  endblock %} {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Accessibility in defence
      </h1>

      <p>
        Before we design or build anything, we need to think about how users
        access and use services. Accessibility is different from assisted digital,
        which is helping users with low digital skills or limited access to the
        web.
      </p>
      <h2 class="govuk-heading-l">Meet the regulations</h2>

      <p>
        To meet government accessibility regulations, your digital service must:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          meet level AA of the Web Content Accessibility Guidelines (WCAG 2.1) as
          a minimum
        </li>
        <li>
          work on the most commonly used assistive technologies - including screen
          magnifiers, screen readers and speech recognition tools
        </li>
        <li>include disabled people in user research</li>
        <li>
          have an accessibility statement that explains how accessible the service
          is - you need to publish this when the service moves into public beta
        </li>
      </ul>

      <div class="govuk-inset-text">
        Your service must be accessible to everyone who needs it. You may be
        breaking the law if you do not make it accessible.
      </div>

      <p>
        Read the Government Digital Service (GDS) guidance on a
        <a
          href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps"
          >understanding accessibility requirements for public sector bodies</a
        >.
      </p>

      <h2 class="govuk-heading-l">Battlespace accessibility needs</h2>

      <p>
        Defence has its own set of unique user needs, especially in the deployed
        or operational space for military users.
      </p>

      <p>
        Military users in the battle-space might experience accessibility
        challenges that are not typical compared with other users.These can
        include issues such as:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>low to no 3G and 4G connectivity on board vessels</li>
        <li>
          the inability to use 2-factor authentication to access online platforms,
          such as Defence Gateway
        </li>
        <li>
          using restrictive hardware when operating machinery, such as thick
          gloves
        </li>
        <li>
          using devices with limited battery power, meaning tasks must be
          completed in as little time as possible
        </li>
      </ul>

      <p>
        You must also consider accessibility issues related to the battle
        environment, such as using services in:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>difficult outdoor conditions, such as using wet screens</li>
        <li>low light, red light or no light conditions</li>
        <li>high-noise or low to no-noise circumstances</li>
        <li>high-stress and high-risk scenarios</li>
        <li>situations of extreme fatigue</li>
        <li>
          extreme atmospheric conditions such as temperatures below freezing, or
          extreme heat and sunlight
        </li>
      </ul>

      <p>
        Remember, accessibility needs can be permanent, temporary or situational.
        This also applies to the military user.
      </p>

      <h2 class="govuk-heading-l">Accessibility statements</h2>

      <p>
        You need to publish an accessibility statement to explain how accessible
        your website or mobile app is.
      </p>

      <p>
        Most people looking at your statement will not be accessibility experts,
        so make sure it’s written in plain English that everyone can understand.
        This will also make it easier for users with a disability to understand
        how they can best use your website or mobile app.
      </p>

      <p>Your statement needs to cover:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          whether your website or mobile app is ‘fully’, ‘partially’ or ‘not’
          compliant with accessibility standards
        </li>
        <li>
          if it’s not fully compliant, which parts of your website or mobile app
          do not currently meet accessibility standards and why (for example,
          because they are exempt or it would be a disproportionate burden to fix
          things)
        </li>
        <li>
          how people can get alternatives to content that’s not accessible to them
        </li>
        <li>
          how to contact you to report accessibility problems - and a link to the
          website that they can use if they’re not happy with your response.
        </li>

        </ul>

        <p>
          GDS has produced a
          <a href="https://www.gov.uk/guidance/model-accessibility-statement"
            >model accessibility statement</a
          >
          that you can use for your service.
        </p>

        <h3 class="govuk-heading-m">
          Things you might not need to fix
          <h3>
            <p>
              Your team does not need to fix the following types of content
              because they’re exempt from the accessibility regulations:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                pre-recorded audio and video published before 23 September 2020
              </li>
              <li>live audio and video</li>
              <li>heritage collections like scanned manuscripts</li>
              <li>
                PDFs or other documents published before 23 September 2018 -
                unless users need them to use a service, for example a form that
                lets you request school meal preferences
              </li>
              <li>
                maps but you’ll need to provide essential information, like an
                address, in an accessible format
              </li>
              <li>
                third party content that’s under someone else’s control if you did
                not pay for it or develop it yourself, for example social media
                ‘like’ buttons
              </li>
              <li>
                content on intranets or extranets published before 23 September
                2019 - unless you make a major revision after that date
              </li>
              <li>
                archived websites if they are not needed for services your
                organisation provides and they are not updated
              </li>
            </ul>

            <p>
              In your accessibility statement, you need to explain that things
              like this are not accessible because they are exempt.
            </p>

            <h2 class="govuk-heading-l">
              Publish accessible documents
              <h2>
                <p>
                  Any documents you include in your service, such as PDFs, must be
                  accessible.
                </p>

                <p>
                  GDS has produced   <a href="https://www.gov.uk/guidance/publishing-accessible-documents"
                      >guidance on publishing accessible documents</a>.
                </p>

                <p>
                  If you need help making your document accessible, contact the
                  Directorate of Defence Communications.
                </p>

                <p></p>

                <p>
                  If you have ideas to improve this topic, contact the team at
                  <a href="/url/of/onward/page">service-manual@digital.mod.uk</a>.
                </p>

                {% endblock %}
              </h2>
            </h2>
          </h3>
        </h3>
      </ul>
    </div>
  </div>
