{% extends "layout.html" %} {% block pageTitle %} GOV.UK page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Interaction Designers and accessibility
    </h1>

    <p>
      Designing simple screens and interactions makes things easier for
      everybody. Delivering digital products and services that anyone can use
      starts with designing them that way.
    </p>

    <h2 class="govuk-heading-l">Start with existing patterns</h2>

    <p>
      Before designing a new product, service or feature, check what patterns
      are already available. Existing patterns and components are likely to be
      accessible.
    </p>

    <div class="govuk-inset-text">
      You need to check the
      <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>.
      If you do not find the pattern you need, check the
      <a href="">MOD Design Library</a>.
    </div>

    <p>If you need to adapt an existing pattern, make sure you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        have evidence to show why it is needed, for example research findings
      </li>
      <li>do accessibility testing before you release it</li>
      <li>share it with the MOD design library team</li>
    </ul>

    <h2 class="govuk-heading-l">Avoid dynamic content</h2>

    <p>
      Dynamic content, such as live data, can cause accessibility issues.
      Changes are not always clear to assistive technologies.
    </p>

    <p>
      If the content of a page has to change dynamically, assistive technology
      needs to know about the change. Work with a Frontend Developer to make
      sure all dynamic content has the right attributes, or
      <a href="">ask the UCD community</a>.
    </p>

    <h2 class="govuk-heading-l">Use simple labels and instructions</h2>

    <p>
      For anything that needs user input, you must add a label. Every label
      should describe what is expected in the input.
    </p>

    <p>
      Keep labels simple at first and only include hint text or additional
      instructions if your user research shows there is a need for it.
    </p>

    <p>
      Work with a Content Designer to create labels and any hint text needed.
      You can also
      <a href="https://design-system.service.gov.uk/components/text-input"
        >check the GOV.UK pattern for text inputs</a
      >.
    </p>

    <h2 class="govuk-heading-l">Add visually hidden text</h2>

    <p>
      People who use assistive technologies may need more content to describe
      something on screen, for example a photo or a graph. This additional
      description is known as ‘alternative text’ or ‘alt text’. It does not
      appear on the screen for all users.
    </p>

    <p>
      For example, ‘Change’ doesn’t work out of context. Screen readers need to
      know what it is that users are changing. In HTML code, this is how you add
      the alt text:
    </p>

    <p>[Add code example here]</p>

    <p>
      Work with a Content Designer to create alt text. Find tips on writing alt
      text in <a href="">content design and accessibility</a> and the
      <a href="https://design-system.service.gov.uk/styles/images/"
        >GOV.UK guidance on images</a
      >.
    </p>

    <h2 class="govuk-heading-l">Only use images that users need</h2>

    <p>
      Government digital services need to be simple. Do not add unnecessary
      images or visual design. Before adding icons and images, work with a User
      Researcher and a Content Designer to check if users need them.
    </p>

    <h2 class="govuk-heading-l">Be careful with columns</h2>

    <p>Before using columns, consider the impact on accessibility.</p>

    <p>
      If users need a sidebar, check how it works for people who are blind or
      use a screen magnifier. You also need to check how a sidebar appears on
      mobile devices.
    </p>

    <h2 class="govuk-heading-l">Useful links</h2>

    <ul class="govuk-list govuk-list">
      <li>
        <a
          href="https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices?utm_medium=email&utm_campaign=govuk-notifications-topic&utm_source=eaeb7901-394a-41d9-b2ce-634b8454101a&utm_content=immediately"
          >Design for different browsers and devices</a
        >
      </li>
      <li>
        <a href="https://www.craigabbott.co.uk/blog/"
          >Blogs about accessibility and design</a
        >
      </li>
    </ul>
  </div>

  {% endblock %}
</div>
