{% extends "layout.html" %} {% block pageTitle %} GOV.UK page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Product managers and accessibility
    </h1>

    <p>
      Everyone in your team has a part to play in delivering accessible products
      and services. Make sure they know why your product or service needs to be
      accessible.
    </p>

    <h2 class="govuk-heading-l">Help your team understand</h2>

    <p>
      Your digital product or service must be easy to use for everyone. Your
      team may be breaking the law if they do not make it accessible.
    </p>

    <p>
      Making a service accessible is not a last-minute task for Frontend
      Developers and QA Testers. User Researchers need to include users of
      assistive technology in their research. Interaction Designers and Content
      Designers need to create accessible designs and content.
    </p>

    <p>
      Ask your team to consider the needs of all users and to
      <a href="">check how their role can help accessibility</a>.
    </p>

    <h2 class="govuk-heading-l">Get stakeholders onboard</h2>

    <p>
      Often, the cost of making a product or service accessible is not factored
      in from the start. It takes time for your team to design, develop and test
      for accessibility.
    </p>

    <p>
      Consider adding accessibility to your business case so that stakeholders
      are aware of the time and funding needed. In your regular sessions with
      stakeholders, you can cover accessibility issues and how you are dealing
      with them.
    </p>

    <p>
      You might decide to get an external audit before your product or service
      can be released. Check
      <a
        href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/getting-an-accessibility-audit"
        >how to get an accessibility audit</a
      >.
    </p>

    <h2 class="govuk-heading-l">Prioritise accessibility</h2>

    <p>
      Aim to prioritise accessibility from the start, so it becomes part of your
      team culture and processes. This will help you to deliver at pace and meet
      the legal requirements on accessibility.
    </p>

    <div class="govuk-inset-text">
      If you do not plan for accessibility, it can create technical debt that
      significantly delays future releases.
    </div>

    <p>
      Check guidance on
      <a
        href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#what-to-do-about-accessibility-in-discovery"
        >prioritising accessibility in each delivery phase</a
      >.
    </p>

    <h2 class="govuk-heading-l">Useful links</h2>

    <ul class="govuk-list govuk-list">
      <li><a href="">Delivery Managers and accessibility</a></li>
    </ul>
  </div>

  {% endblock %}
</div>
