{% extends "layout.html" %} {% block pageTitle %} GOV.UK page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      User Researchers and accessibility
    </h1>

    <p>
      Through user research and usability testing, you can help colleagues
      understand the needs of people who use assistive technology.
    </p>

    <h2 class="govuk-heading-l">Research with a range of users</h2>

    <p>
      You need to consider the full range of people that are likely to use your
      product or service. By including a wide range of people, you can better
      understand how the accessibility of your service impacts everybody who
      needs to use it.
    </p>

    <p>
      Find out more about
      <a href="">finding research participants in Defence</a>.
    </p>

    <h2 class="govuk-heading-l">Usability testing</h2>

    <p>
      Your product or service needs to work with devices such as screen readers,
      screen magnifiers and speech recognition software.
    </p>

    <p>
      If you can, the best way of testing this is to observe people using
      assistive technology to use your product or service. If this isn’t
      possible, you can try to use your product or service with some of the
      assistive technologies easily available. For example, most laptops have
      built-in screen readers.
    </p>

    <p>
      Ask your Delivery Lead to make time for colleagues to help with useability
      testing.
    </p>

    <h2 class="govuk-heading-l">Useful links</h2>

    <ul class="govuk-list govuk-list">
      <li>
        <a
          href="https://accessibility.blog.gov.uk/2018/03/20/why-accessibility-testing-with-real-users-is-so-important/"
          >Why testing with real users is important</a
        >
      </li>

      <li>
        <a
          href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies"
          >Testing with assistive technologies</a
        >
      </li>
    </ul>
  </div>

  {% endblock %}
</div>
