{% extends "layout.html" %} {% block pageTitle %} GOV.UK page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your community
    </h1>

    <p>
      There are communities of practice for people working across defence.<br />
      Joining a community will help you:
    </p>
    <p></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>learn from what other projects are doing</li>
      <li>be sure you are meeting GOV.UK and defence standards</li>
      <li>use common approaches and shared tools</li>
    </ul>

    <h1 class="govuk-heading-l">
      Communities of practice
    </h1>

    <p>
      You can join more than one community.
    </p>

    <p>
      <a href="link to page" class="govuk-body govuk-!-font-size-19"
        >Architecture</a
      ><br />
      <a href="link to page" class="govuk-body govuk-!-font-size-19"
        >DevSecOps</a
      ><br />
      <a href="link to page" class="govuk-body govuk-!-font-size-19"
        >Product and delivery management</a
      ><br />
      <a href="ucd-community" class="govuk-body govuk-!-font-size-19"
        >User-centred design</a
      >
    </p>

    <p>
      The user-centred design community includes content designers, interaction
      designers, service designers and user researchers.
    </p>
    <p>
      If you have suggestions for a new community,
      <a href="data-classifications.html"> get in touch</a>.
    </p>
  </div>

  {% endblock %}
</div>
