{% extends "layout.html" %} {% block pageTitle %} GOV.UK page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your community
    </h1>

    <p>
      Anyone working on digital products or services in defence is welcome to
      join the communities of practice.
    </p>

    <p>Joining a community will help you:</p>
    <p></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>learn from what others are doing</li>
      <li>be confident that you are meeting GOV.UK standards</li>
      <li>use common approaches and shared tools</li>
      <li>know what’s happening across projects</li>
    </ul>

    <h1 class="govuk-heading-l">
      Communities of practice
    </h1>

    <p>
      You can join more than one community.
    </p>

    <p>
      <a href="content-design.html" class="govuk-body govuk-!-font-size-19"
        >Content design</a
      ><br />
      <a href="design.html" class="govuk-body govuk-!-font-size-19"
        >Service, interaction and graphic design</a
      ><br />
      <a href="delivery-management.html" class="govuk-body govuk-!-font-size-19"
        >Delivery management</a
      ><br />
      <a href="product-management.html" class="govuk-body govuk-!-font-size-19"
        >Product management</a
      ><br />
      <a
        href="software-architecture.html"
        class="govuk-body govuk-!-font-size-19"
        >Software and Architecture</a
      ><br />
      <a href="ucd-community" class="govuk-body govuk-!-font-size-19"
        >User centred design</a
      ><br />
      <a href="user-research-community" class="govuk-body govuk-!-font-size-19"
        >User research</a
      ><br />
    </p>

    <p>
      If you have suggestions for a new community,
      <a href="data-classifications.html"> get in touch</a>.
    </p>
  </div>

  {% endblock %}
</div>
