{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Communities
        </h1>

        <a href="content-design.html" class="govuk-body govuk-!-font-size-19"
      >Content design</a><br>
        <a href="design.html" class="govuk-body govuk-!-font-size-19"
      >Service, interaction and graphic design</a><br>
      <a href="delivery-management.html" class="govuk-body govuk-!-font-size-19"
      >Delivery management</a><br>
      <a href="product-management.html" class="govuk-body govuk-!-font-size-19"
      >Product management</a><br>
      <a href="software-architecture.html" class="govuk-body govuk-!-font-size-19"
      >Software and Architecture</a><br>
      <a href="#" class="govuk-body govuk-!-font-size-19"
      >User centred design</a><br>
      <a href="#" class="govuk-body govuk-!-font-size-19"
      >User research</a><br>
       
            </div>

{% endblock %}
