{% extends "layout.html" %} {% block pageTitle %} Data classifications {%
  endblock %} {% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {%
  endblock %} {% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Data classifications
      </h1>
  
      <p>
        We use security classifications to help us identify and work with
        sensitive data. Services can be locked down if data is not classified
        correctly.
      </p>
  
      <h2 class="govuk-heading-l">
        OFFICIAL data
        <h2>
          <p>
            Most of the data we create and handle in government is classified as
            OFFICIAL. This includes routine business operations and services.
          </p>
  
          <p>Here are some examples of OFFICIAL information:</p>
  
          <ul class="govuk-list govuk-list--bullet">
            <li>
              day-to-day business of the public sector, including information
              about public services and finances
            </li>
            <li>routine international relations and diplomatic activities</li>
            <li>public safety, criminal justice and law enforcement</li>
            <li>routine defence and security business</li>
            <li>
              commercial information, including contractual information and
              intellectual property
            </li>
            <li>
              personal information that is protected under Data Protection
              legislation
            </li>
          </ul>
  
          <p>You do not need to explicitly mark OFFICIAL information.</p>
  
          <p>Check <a href="">how to store OFFICIAL data</a>.</p>
  
          <p></p>
  
          <h2 class="govuk-heading-l">OFFICIAL-SENSITIVE data</h2>
  
          <p>
            A small amount of OFFICIAL information is of a particularly sensitive
            nature. This includes information where loss or disclosure would have
            damaging consequences for your organisation or cause significant
            distress for an individual or group of people.
          </p>
  
          <p>Here are some examples of OFFICIAL-SENSITIVE (OS) information:</p>
  
          <ul class="govuk-list govuk-list--bullet">
            <li>
              the most sensitive corporate information, such as organisational
              restructuring, negotiations and major security or business
              continuity issues
            </li>
            <li>
              very sensitive personal information, such as information about
              vulnerable or at-risk people
            </li>
            <li>
              policy development and advice to ministers on contentious and very
              sensitive issues
            </li>
            <li>commercially or market sensitive information</li>
            <li>
              information about investigations and civil or criminal proceedings
              that could disrupt law enforcement or prejudice court cases
            </li>
            <li>sensitive diplomatic business or international negotiations</li>
          </ul>
  
          <div class="govuk-inset-text">
            You must clearly mark this kind of information as OFFICIAL-SENSITIVE.
          </div>
  
          <p>Check <a href="">how to store OFFICIAL-SENSITIVE data</a>.</p>
  
          <h2 class="govuk-heading-l">SECRET and TOP SECRET data</h2>
  
          <p>
            Any information that is very sensitive and requires additional
            security measures is considered SECRET. For example, any information
            that could seriously damage military capabilities, international
            relations or the investigation of serious organised crime.
          </p>
  
          <p>
            Any information that requires the highest level of protection from the
            most serious threats is considered TOP SECRET. For example, any
            information that could cause widespread loss of life or threaten the
            security or economic wellbeing of the country or friendly nations.
          </p>
  
          <p></p>
  
          <p>
            If you have ideas to improve this topic, contact the team at
            <a href="/url/of/onward/page">service-manual@digital.mod.uk</a>.
          </p>
  
          {% endblock %}
        </h2>
      </h2>
    </div>
  </div>
  