{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Delivery community
        </h1>
        <p>
            Some blurb on the delivery community
          </p>
       
            </div>

{% endblock %}
