{% extends "layout.html" %} {% block pageTitle %} Doing research with service
personnel {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Doing research with service personnel
    </h1>

    <p>
      The Armed Forces, or service personnel, are the end users for most of the
      digital services we build. They use our services to operate effectively
      and remove administrative friction.
    </p>

    <h2 class="govuk-heading-l">Understanding defence users</h2>

    <p>
      Our service personnel users are very diverse, from recent school-leavers
      to experienced and highly qualified specialists.
    </p>

    <p>
      Service personnel are located around the UK and overseas. They have very
      different access to IT and most do not spend all day working at a desk or
      in front of a computer.
    </p>

    <p>In Defence, the 3 Front Line Commands (FLCs) are:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Royal Navy</li>
      <li>British Army</li>
      <li>Royal Air Force</li>
    </ul>

    <p>
      There are other Top Level Budgets (TLBs), including Defence & Equipment
      Support (DE&S), and Defence Science and Technology Laboratory (Dstl).
    </p>

    <p>
      Find out more about
      <a href="/accessibility">Defence environments and accessibility</a>.
    </p>

    <h2 class="govuk-heading-l">Research with military ranks</h2>

    <p>
      Depending on their rank and duties, some staff will require approval from
      their commanding officer to participate in user research activities.
    </p>
    <p>
      You should consider that it may take longer to recruit service personnel
      for research and plan sessions in good time.
    </p>
    <p>
      If you hold a focus group or workshop with military users of different
      ranks, consider the impact of the chain of command on what users decide
      they can or cannot contribute.
    </p>

    <p>
      The military are naturally rank-conscious and may adapt their behaviour.
      For example, a participant may moderate their answers to questions in a
      research interview if someone more senior is in the room.
    </p>

    <h3 class="govuk-heading-m">How to address service personnel</h3>

    <p>
      If you are a civilian, you are not required to address officers with Sir,
      Ma’am or their military title. However, it is polite to ask at the
      beginning of your session how they prefer to be addressed.
    </p>

    <h2 class="govuk-heading-l">Digital inclusion in defence</h2>

    <p>
      Service personnel can be positioned widely on the
      <a
        href="https://www.gov.uk/government/publications/government-digital-inclusion-strategy/government-digital-inclusion-strategy#annex-2-digital-inclusion-scale-for-individuals"
        >digital inclusion scale</a
      >, stretching from 4 to 9+. This means that usability and accessibility
      testing of design solutions is very important.
    </p>

    <p>
      More work is needed to fully understand the digital inclusivity and
      accessibility needs of our Armed Forces. We’ll update this guidance when
      we know more.
    </p>

    <p></p>

    <p>
      If you have ideas to improve this topic, contact the team at
      <a href="/url/of/onward/page">service-manual@digital.mod.uk</a>.
    </p>

    {% endblock %}
  </div>
</div>
