{% extends "layout.html" %} {% block pageTitle %} Find research participants {%
  endblock %} {% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {%
  endblock %} {% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find research participants
      </h1>
  
      <p>
        Participants are the people who take part in user research. For research
        to be effective, participants must be actual or likely users of the
        service.
      </p>
  
      <h2 class="govuk-heading-l">Recruit internal participants</h2>
  
      <p>
        Use staff directories to find colleagues in the Ministry of Defence (MOD).
      </p>
      <p>
        For longer research campaigns, you should engage through the existing
        Chain of Command (CoC) and tasking processes.
      </p>
      <p>
        If you cannot find a specific group to research with, you can speak to
        Subject Matter Experts (SMEs) and supporting military personnel to help
        you with recruitment.
      </p>
  
      <h3 class="govuk-heading-m">Large scale testing</h3>
      <p>
        There may be existing processes in place for large scale testing activity.
        Check with your Front Line Command (FLC) to see what is available.
      </p>
  
      <h2 class="govuk-heading-l">Recruit users across defence</h2>
  
      <p>
        If you have access to MODNET, you can often find staff names and details
        on your Command Sharepoint. If you do not have access to this or other
        platforms, ask a permanent staff member to help you.
      </p>
  
      <div class="govuk-inset-text">
        Do not use social media platforms like Twitter, Instagram, LinkedIn or
        TikTok to recruit participants for user research.
      </div>
  
      <h3 class="govuk-heading-m">Army participants</h3>
  
      <p>
        To find research participants in the Army, use the
        <a href="https://www.army.mod.uk/deployments/army-knowledge-exchange/"
          >Army Knowledge Exchange (AKX)</a
        >.
      </p>
  
      <h3 class="govuk-heading-m">Participants with no MODNET access</h3>
  
      <p>
        To find users with little or no access to MODNET, use
        <a
          href="https://www.army.mod.uk/digital-communications/defence-connect-guidance/"
          >Defence Connect</a
        >. You can also use the platform to carry out randomised surveys and
        questionnaires.
      </p>
  
      <h3 class="govuk-heading-m">Anonymous research</h3>
  
      <p>
        You can start a discussion or set up a questionnaire on
        <a href="https://trustedvoices.explainonline.co.uk/login/"
          >Trusted Voices</a
        >. MOD staff use aliases on the platform to discuss sensitive topics like
        pay, mental health and bullying.
      </p>
  
      <h2 class="govuk-heading-l">Research with disabled people</h2>
  
      <p>
        You must include people with different disabilities in your research. This
        helps your service meet the needs of all of its users.
      </p>
  
      <p>
        You need to including participants who:
      </p>
  
      <ul class="govuk-list govuk-list--bullet">
        <li>are disabled or use assistive technologies</li>
        <li>have limited digital skills or low literacy</li>
        <li>may need help to use your service</li>
      </ul>
  
      <p>
        The Defence Disability Network (DDN) can help you recruit participants
        with condition-specific disabilities.
      </p>
  
      <p></p>
  
      <p>
        If you have ideas to improve this topic, contact the team at
        <a href="/url/of/onward/page">service-manual@digital.mod.uk</a>.
      </p>
  
      {% endblock %}
    </div>
  </div>
  