{% extends "layout.html" %} {% block pageTitle %} Product and delivery community
{% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Product and delivery community
    </h1>

    <p>
      Anyone working on digital products or services in Defence is welcome to
      join the product and delivery community. It is useful for:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>product owners and managers</li>
      <li>delivery managers</li>
      <li>service owners</li>
      <li>business analysts</li>
    </ul>
    <h2 class="govuk-heading-l">Get involved</h2>

    <p>
      There are a few easy ways to be part of the community.
    </p>

    <h3 class="govuk-heading-m">Slack channels</h3>

    <p>
      Using your digital MOD email address, go to defencedigital.slack.com and
      join the #product-delivery channel. This is the place to ask questions
      about product management and delivery in Defence.
    </p>

    <p>
      You might like to get involved with conversations across government. Using
      your digital MOD email address, go to ukgovernmentdigital.slack.com.
      Browse and join channels for product and delivery.
    </p>

    <h3 class="govuk-heading-m">Meetings</h3>

    <p>
      Join the product and delivery community calls held every 2 weeks on
      Thursdays. We discuss anything related to product, delivery and service
      management in Defence.
    </p>
    <p>
      To join, send an email to:
      <a href="/url/of/onward/page">delivery-management@digital.mod.uk</a>.
    </p>

    <div class="govuk-inset-text">
      You must only share and discuss OFFICIAL data.
      <a href="/security-classifications">Find out about data classifications</a
      >.
    </div>

    <p>
      We work under
      <a
        href="https://www.chathamhouse.org/about-us/chatham-house-rule?gclid=CjwKCAjwkYGVBhArEiwA4sZLuK5u_XCJRH7ClZyiXlhtQLMleAKX6CZ3Ka8cuQ1hr70AfK95tVehOhoCP5wQAvD_BwE"
        >the Chatham House Rule</a
      >, creating a safe space for you to share your work and any challenges.
    </p>

    <h2 class="govuk-heading-l">Useful links</h2>

    <p>
      <a href="https://www.gov.uk/service-manual/agile-delivery"
        >Guidance on agile delivery</a
      ><br />
      <a
        href="https://www.gov.uk/service-manual/communities/agile-delivery-community"
        >GOV.UK agile delivery community</a
      ><br />
      <a
        href="https://www.gov.uk/service-manual/communities/product-and-service-community"
        >GOV.UK product and service community</a
      ><br />
    </p>

    <p></p>
    <br />
    <br />

    <p>
      If you have ideas to improve this topic, contact the team at
      <a href="/url/of/onward/page">service-manual@digital.mod.uk</a>.
    </p>

    {% endblock %}
  </div>
</div>
