{% extends "layout.html" %} {% block pageTitle %} GOV.UK page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      How to classify information
    </h1>

    <p>
      In the UK and internationally, security classifications are used to
      protect different kinds of information.
    </p>

    <p>
      You should be aware of the security classification of any information you
      deal with. This includes when you are speaking, adding comments to a board
      or sending a Slack message.
    </p>

    <p>
      When you create new information or capture new data, check how to classify
      it.
    </p>

    <h2 class="govuk-heading-l">Levels of security classification</h2>

    <p>
      In Defence, like all other UK Government departments, we use 3 levels of
      security classification. Each level needs different security controls
      based on the consequences of the information being shared.
    </p>

    <h2 class="govuk-heading-m">OFFICIAL</h2>

    <p>
      The majority of information created or used in Defence is at OFFICIAL
      level. The consequences of this information being shared are similar to
      those faced by a large private company with valuable information.
    </p>

    <p>OFFICIAL information includes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the day-to-day business of government and service delivery</li>
      <li>many aspects of Defence, security and resilience</li>
      <li>routine international relations and diplomatic activities</li>
      <li>public safety, criminal justice and enforcement activities</li>
    </ul>

    <h2 class="govuk-heading-m">SECRET</h2>

    <p>
      Some information in Defence is considered very sensitive and must be
      protected from any highly capable people or organisations that are
      determined to cause harm.
    </p>

    <p>
      This includes information where tampering, loss or release to unauthorised
      people could:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>directly threaten an individual’s life</li>
      <li>cause serious damage to UK or allied military capability</li>
      <li>
        impact the investigation or prosecution of serious organised crime
      </li>
    </ul>

    <h3 class="govuk-heading-m">TOP SECRET</h3>

    <p>
      A small amount of information in Defence must be protected from the most
      serious threats.
    </p>

    <p>
      This includes information where tampering, loss or release to unauthorised
      people could:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>lead to widespread loss of life</li>
      <li>
        threaten the security or economic stability of the UK or friendly
        nations
      </li>
      <li>cause exceptional damage to UK or allied military capability</li>
    </ul>

    <h2 class="govuk-heading-l">How to label information in Defence</h2>

    <p>
      You need to label information correctly so that people understand how to
      protect and share it.
    </p>
    <div class="govuk-inset-text">
      Security classifications are always written in capitals.
    </div>
    <p>
      It can be tempting to put OFFICIAL information into a higher
      classification. This goes against the government principle of open data
      and can lead to unnecessary and expensive controls.
    </p>
    <p>
      Managing SECRET information is at least 10 times more expensive than
      OFFICIAL information.
    </p>
    <p>
      If you classify information higher than is needed, your users may struggle
      to access it. For example, services classified as SECRET do not let users
      access the internet.
    </p>

    <h3 class="govuk-heading-m">OFFICIAL information</h3>

    <p>
      You do not need to label OFFICIAL information. However, if the information
      can be printed you should label it at the top and bottom of each page.
    </p>

    <p>
      A small amount of OFFICIAL information is sensitive and should only be
      shared with people who need to know it. In these cases, you can label data
      as OFFICIAL-SENSITIVE.
    </p>

    <div class="govuk-inset-text">
      You must only use OFFICIAL-SENSITIVE as an exception and have evidence to
      support your decision.
    </div>

    <h3 class="govuk-heading-m">Use OFFICIAL-SENSITIVE correctly</h3>

    <p>
      OFFICIAL-SENSITIVE is not a separate security classification. It is a way
      of identifying sensitive information that can be stored on OFFICIAL
      systems.
    </p>

    <p>
      Using OFFICIAL-SENSITIVE as a security classification can lead to
      dangerous practices including:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>all data being treated as equally sensitive</li>
      <li>
        systems designed to protect all types of sensitive data when they only
        handle some sensitive data or none at all
      </li>
    </ul>

    <h3 class="govuk-heading-m">OFFICIAL-SENSITIVE additional details</h3>

    <p>
      If you need to use OFFICIAL-SENSITIVE, you should add more information:
      OFFICIAL-SENSITIVE [descriptor].
    </p>
    <p>
      Use the core descriptors recommended by The Cabinet Office:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        COMMERCIAL for market-sensitive information like price negotiations and
        system vulnerabilities
      </li>
      <li>
        LOCSEN for sensitive information that staff engaged overseas cannot
        access
      </li>
      <li>
        PERSONAL for sensitive information that can be linked to an individual
      </li>
    </ul>

    <h3 class="govuk-heading-m">SECRET and TOP SECRET information</h3>

    <div class="govuk-inset-text">
      You must label SECRET and TOP SECRET information.
    </div>
    <p>
      You should include the label in the subject line of emails. If the
      information can be printed out, add the label to the top and bottom of
      each page.
    </p>

    <p>
      If you are sharing SECRET or TOP-SECRET information internationally, you
      need to add additional details to the label. Check the
      <a
        href="https://login.microsoftonline.com/be7760ed-5953-484b-ae95-d0a16dfa09e5/oauth2/authorize?client_id=00000003-0000-0ff1-ce00-000000000000&response_mode=form_post&protectedtoken=true&response_type=code%20id_token&resource=00000003-0000-0ff1-ce00-000000000000&scope=openid&nonce=CDAA33F5848616435971D710EE51F166CE3D744CA4FFEC72-FFF218127372EE61E84940435FE7BEE4E67AFD6F9B0F06AE134662459FDAEEB6&redirect_uri=https%3A%2F%2Fmodgovuk.sharepoint.com%2F_forms%2Fdefault.aspx&state=OD0w&claims=%7B%22id_token%22%3A%7B%22xms_cc%22%3A%7B%22values%22%3A%5B%22CP1%22%5D%7D%7D%7D&wsucxt=1&cobrandid=11bd8083-87e0-41b5-bb78-0bc43c8a8e8a&client-request-id=bb7d54a0-e0d0-4000-b6ff-9bc1d7cba2f3"
        >guidance on labelling information shared internationally</a
      >.
    </p>

    <h2 class="govuk-heading-l">Classifying large amounts of data</h2>

    <p>
      Some products and services in Defence create or process large amounts of
      data. These projects usually have a data owner. To classify data
      correctly, the data owner needs to fully understand how sensitive it is
      and the likely threats.
    </p>

    <h2 class="govuk-heading-l">Useful links</h2>

    <ul class="govuk-list govuk-list">
      <li>
        <a
          href="https://www.gov.uk/government/publications/government-security-classifications"
          >Government security classifications</a
        >
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/official-sensitive-data-and-it"
          >OFFICIAL-SENSITIVE data and IT</a
        >
      </li>
    </ul>
  </div>

  {% endblock %}
</div>
