{% extends "layout.html" %} {% block pageTitle %} Storing and sharing data {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Storing and sharing data
    </h1>

    <p>
      We need to store all data collected from users so that anyone in MOD can
      find it easily. Legally, we must store data securely and regularly delete
      old data.
    </p>

    <h2 class="govuk-heading-l">How to keep research data</h2>

    <p>When you capture research data, make sure it is:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>classified and labelled correctly</li>
      <li>protected by the correct access permissions</li>
      <li>unable to be changed</li>
      <li>kept for no longer than 2 years</li>
    </ul>

    <p>
      Check
      <a href="/security-classifications"
        >how to classify information in Defence</a
      >.
    </p>

    <p>
      Information should be treated as a record as soon as possible after it is
      created or received.
    </p>

    <p>
      Avoid only using offline storage, such as a memory stick for your digital
      records, unless advised to do so by the Defence Information Policy Team.
      This can make records difficult to access and risks them becoming lost if
      the technology is no longer compatible in the future.
    </p>

    <p>Do not encrypt digital records.</p>

    <p>
      Do not use self-modifying fields when capturing digital records. For
      example, a date field that automatically updates to reflect real or
      current time, will not display correct information when the record is
      viewed in future.
    </p>

    <h2 class="govuk-heading-m">Anonymise research data</h2>

    <p>
      Always anonymise personal identifiable data when storing your research
      records. This includes things like a person’s name or address. Refer to
      the participant by code instead.
    </p>

    <p>
      If needed, create a separate document which matches the codes to the
      personal identifiable data. The document must be password protected and
      only shared with colleagues if necessary.
    </p>

    <p>You should retain this information for no longer than 2 years.</p>

    <h3 class="govuk-heading-m">Video recordings and transcripts</h3>

    <p>
      Anonymising video recordings is time consuming and can be ineffective.
      Consider whether you really need to store a video or screen recording of a
      user before your session.
    </p>

    <h2 class="govuk-heading-l">Share research data securely</h2>

    <p>
      You must not disclose the identities of people when sharing published
      statistics and other data gathered in surveys. This includes photographs,
      videos, and sound recordings, as well as words and numbers.
    </p>

    <p>
      When sharing transcripts of interviews, you need to anonymise personally
      identifiable circumstances, especially if dealing with sensitive topics
      like bullying and harassment.
    </p>

    <p>
      You must also ensure that it is not possible to identify any individual by
      cross referencing demographic data items in the dataset.
    </p>

    <p>
      Before you release any data, you must get a signed
      <a href="">Data Access Agreement</a>
      that explains:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>what data is needed</li>
      <li>how the data will be used</li>
      <li>the full names of everyone who will have access to the data</li>
    </ul>

    <p>
      Any data provided must only be used by the people listed in the Data
      Access Agreement and for the purpose listed in the agreement.
    </p>

    <h3 class="govuk-heading-m">OFFICIAL data</h3>

    <p>You do not need to explicitly mark OFFICIAL information.</p>

    <p>
      Your organisational policies will provide detailed guidance but there are
      some things that you need to remember:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        only share information with those who have a legitimate need to see it
      </li>
      <li>
        maintain a clear desk and always lock sensitive information away
      </li>
      <li>
        only use authorised IT systems to work with or store information
      </li>
      <li>dispose of information appropriately</li>
      <li>
        only carry the information that you need when working off site
      </li>
      <li>do not discuss sensitive issues in public places</li>
      <li>report lost or stolen information immediately</li>
    </ul>

    <p>
      You can store OFFICIAL information on MS Teams as long as it is a private,
      and not public, group setting.
    </p>

    <p>
      You can store OFFICIAL information on your @digital.mod.uk google drive
      account, as long as the correct sharing and viewing restrictions are in
      place.
    </p>

    <p>
      Documents with personal user information such as telephone numbers and
      other identifiable data need to be password protected.
    </p>
    <p></p>

    <h3 class="govuk-heading-m">OFFICIAL-SENSITIVE data</h3>

    <p>
      A small amount of OFFICIAL information is sensitive and should only be
      shared with people who need to know it.
    </p>

    <p>
      You can
      <a href="/security-classifications">check what type of information is senstive</a
      >. In these cases, you need to label information as OFFICIAL-SENSITIVE.
    </p>

    <div class="govuk-inset-text">
      You must keep OFFICIAL-SENSITIVE information in LTD libraries or LTD
      SharePoint sites, which have restricted access.
    </div>

    <p>
      It's best to use existing LTD libraries and LTD SharePoint sites. If you need to
      create a new one,
      <a href="/security-classifications">contact the iHub team</a>.
    </p>


    <h2 class="govuk-heading-l">Useful links</h2>

    <ul class="govuk-list govuk-list">
        <li><a href="/security-classifications"">How to classify information</a></li>
        <li><a href="https://www.gov.uk/data-protection">Data protection</a></li>
</ul>
    <br>
    <br>





    <p>
      If you have ideas to improve this topic, contact the team at
      <a href="/url/of/onward/page">service-manual@digital.mod.uk</a>.
    </p>

    {% endblock %}
  </div>
</div>
