{% extends "layout.html" %} {% block pageTitle %} User-centred design community
{% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      User-centred design community
    </h1>

    <p>
      Anyone working on digital products or services in defence is welcome to
      join the user-centred design (UCD) community. It is useful for:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>user researchers and data analysts</li>
      <li>service designers and product designers</li>
      <li>interaction and graphic designers</li>
      <li>content designers, managers and strategists</li>
      <li>product managers and business analysts working with users</li>
    </ul>

    <h2 class="govuk-heading-l">Get involved</h2>

    <p>There are a few easy ways to be part of the UCD community.</p>

    <h3 class="govuk-heading-m">Slack channel</h3>

    <p>
      Using your digital MOD email address, go to defencedigital.slack.com and
      join the #ucd channel. This is the place to ask quick questions about
      designing or writing for users.
    </p>

    <h3 class="govuk-heading-m">Meetings</h3>

    <p>
      Join the UCD community calls held every 2 weeks on alternate Tuesdays and
      Thursdays.
    </p>

    <p>
      Calls are 45 minutes. We discuss things like accessibility, tools
      available in defence and cross-government collaboration.
    </p>

    <p>
      To get an invitation to join, email:
      <a href="/url/of/onward/page">ucd@digital.mod.uk</a>
    </p>

    <div class="govuk-inset-text">
      You must only share and discuss OFFICIAL data.
      <a href="/url/of/onward/page">Find out about data classifications.</a>
    </div>

    <p>
      We work under
      <a
        href="https://www.chathamhouse.org/about-us/chatham-house-rule?gclid=CjwKCAjwkYGVBhArEiwA4sZLuK5u_XCJRH7ClZyiXlhtQLMleAKX6CZ3Ka8cuQ1hr70AfK95tVehOhoCP5wQAvD_BwE"
        >the Chatham House Rule</a
      >, creating a safe space for you to share your work and any challenges.
    </p>

    <h2 class="govuk-heading-l">Useful links</h2>

    <p>
      <a href="/url/of/onward/page"
        >User research in the Defence Service Manual</a
      ><br />
      <a
        href="https://defencedigital.blog.gov.uk/2021/02/22/user-research-in-defence/"
        >User research in defence blog</a
      ><br />
      <a
        href="https://defencedigital.blog.gov.uk/2021/03/12/the-application-of-user-research-in-defence/"
        >The application of user research in defence blog</a
      ><br />
      <a href="https://www.gov.uk/service-manual/design"
        >Design in the GOV.UK service manual</a
      ><br />
    </p>

    <p></p>
    <br />
    <br />

    <p>
      If you have ideas to improve this topic, contact the team at
      <a href="/url/of/onward/page">service-manual@digital.mod.uk</a>.
    </p>

    {% endblock %}
  </div>
</div>
