{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            User research
        </h1>
        <a href="#" class="govuk-link govuk-link--no-underline govuk-!-font-size-24">Doing research with service personnel</a>
        <br>
        <br>
        
<ul class="govuk-list govuk-list--bullet">
  <li>Understanding defence users</li>
  <li>Research with military ranks</li>
  <li>Digital inclusion in defence</li>
</ul>

        <a href="#" class="govuk-link govuk-link--no-underline govuk-!-font-size-24">Accessibility in defence</a>
        <br>
        <br>

        <ul class="govuk-list govuk-list--bullet">
            <li>Battlespace accessibility needs</li>
            <li>Accessibility statements</li>
            <li>Publish accessible documents</li>
          </ul>
          <a href="#" class="govuk-link govuk-link--no-underline govuk-!-font-size-24">Find research participants</a>
        <br>
        <br>

        <ul class="govuk-list govuk-list--bullet">
            <li>Recruit internal participants</li>
            <li>Find users across defence</li>
            <li>Include disabled users</li>
          </ul>

          <a href="#" class="govuk-link govuk-link--no-underline govuk-!-font-size-24">Collecting data from participants</a>
        <br>
        <br>

        <ul class="govuk-list govuk-list--bullet">
            <li>Meet the regulations</li>
            <li>Get informed consent</li>
            <li>Sensitive data</li>
          </ul>

          <a href="#" class="govuk-link govuk-link--no-underline govuk-!-font-size-24">Storing and sharing data</a>
        <br>
        <br>

        <ul class="govuk-list govuk-list--bullet">
            <li>How to keep research data</li>
            <li>Anonymise research data</li>
            <li>Share research data securely</li>
          </ul>

          <a href="#" class="govuk-link govuk-link--no-underline govuk-!-font-size-24">Data classifications</a>
          <br>
          <br>
  
          <ul class="govuk-list govuk-list--bullet">
              <li>Official</li>
              <li>Official-sensitive</li>
              <li>Secret</li>
              <li>Top secret</li>
            </ul>
        
      <p>extra para</p>


       
            </div>

{% endblock %}
