{% extends "layout.html" %} {% block pageTitle %} GOV.UK page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      User research in Defence
    </h1>
    <h2 class="govuk-heading-l">
      Doing research with service personnel
    </h2>
    <a href="doing-research.html" class="govuk-body govuk-!-font-size-19"
      >Understanding defence users</a
    >
    <br />
    <a href="doing-research.html" class="govuk-body govuk-!-font-size-19"
      >Research with military ranks</a
    >
    <br />
    <a href="doing-research.html" class="govuk-body govuk-!-font-size-19"
      >Digital inclusion in defence</a
    >
    <br />
    <br />

    <h2 class="govuk-heading-l">
      Find research participants
    </h2>
    <a href="find-participants.html" class="govuk-body govuk-!-font-size-19"
      >Recruit internal participants</a
    >
    <br />
    <a href="find-participants.html" class="govuk-body govuk-!-font-size-19"
      >Find users across defence</a
    >
    <br />
    <a href="find-participants.html" class="govuk-body govuk-!-font-size-19"
      >Include disabled users</a
    >
    <br />
    <br />
    <h2 class="govuk-heading-l">
      Collecting data from participants
    </h2>
    <a href="collecting-data.html" class="govuk-body govuk-!-font-size-19"
      >Meet the regulations</a
    >
    <br />
    <a href="collecting-data.html" class="govuk-body govuk-!-font-size-19"
      >Get informed consent</a
    >
    <br />
    <a href="collecting-data.html" class="govuk-body govuk-!-font-size-19"
      >Sensitive data</a
    >
    <br />
    <br />

    <h2 class="govuk-heading-l">
      Storing and sharing data
    </h2>
    <a href="storing-data.html" class="govuk-body govuk-!-font-size-19"
      >How to keep research data</a
    >
    <br />
    <a href="storing-data.html" class="govuk-body govuk-!-font-size-19"
      >Anonymise research data</a
    >
    <br />
    <a href="storing-data.html" class="govuk-body govuk-!-font-size-19"
      >Share research data securely</a
    >
    <br />
    <br />

    <h2 class="govuk-heading-l">
      Data classifications
    </h2>
    <a href="data-classifications.html" class="govuk-body govuk-!-font-size-19"
      >Official</a
    >
    <br />
    <a href="data-classifications.html" class="govuk-body govuk-!-font-size-19"
      >Official-sensitive
    </a>
    <br />
    <a href="data-classifications.html" class="govuk-body govuk-!-font-size-19"
      >Secret</a
    >
    <br />
    <a href="data-classifications.html" class="govuk-body govuk-!-font-size-19"
      >Top secret</a
    >
    <br />
    <br />

    {% endblock %}
  </div>
</div>
