{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Doing research with service personnel
        </h1>
        <a href="#" class="govuk-body govuk-!-font-size-19">Understanding defence users</a>
        <br>
        <a href="#" class="govuk-body govuk-!-font-size-19">Research with military ranks</a>
        <br>
        <a href="#" class="govuk-body govuk-!-font-size-19">Digital inclusion in defence</a>
        <br>
        <br>

        <p>The Armed Forces, or service personnel, are the end users for most of the digital services we build in defence. They use our services to help execute operations effectively, to work efficiently, and to remove administrative friction from their working lives.
          To do user-centred design effectively in defence, it’s essential to take some time to understand the Armed Forces; who they are, where they come from, and how they work.
          </p>
          <h2 class="govuk-heading-l">Understanding defence users</h2>
          <p>Our service personnel users are very diverse, from recent school-leavers to experienced and highly qualified specialists. 
          </p>
          
          <p>As well as the main 3 services, Royal Navy, British Army and Royal Air Force, there are many different tribes, trades and cap-badges. 
          </p>
         
          <p>Service personnel are located around the UK and overseas. They have very different access to IT and most do not spend all day working at a desk or in front of a computer.
          </p>
         
          <p>You should consider that it may take longer to recruit service personnel for research and plan sessions in good time. 
          </p>
          
          

{% endblock %}
